streamlit
python-dotenv
PyMuPDF
langchain==0.2.1
langchain-core==0.2.1
langchain-community==0.2.1
langchain-groq
langchain-textsplitters
sentence-transformers
faiss-cpu
unstructured
requests-html
